body {
  font-family: Inter, sans-serif;
  background: #0e1117;
  color: #e5e7eb;
}

header {
  padding: 20px;
  font-size: 22px;
}

.controls {
  margin: 10px;
}

#search {
  padding: 8px;
  width: 300px;
}

#suggestions div {
  background: #1f2937;
  padding: 6px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
}

.green { color: #22c55e; }
.red { color: #ef4444; }

button {
  background: none;
  color: red;
  border: none;
  cursor: pointer;
}
